@import './index.scss';

.about {
  &__map {
    @include centering;
    margin: 50px 0;
  }

  &__adress {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }

  li {
    line-height: 1.8;
  }
}

.smile {
  background-color: #d27eaf;
  max-width: 260px;
  width: 100%;
  min-height: 260px;
}

.img-wrap img {
  position: relative;
}

.article-wrap {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.title {
  @include pattern-title;
}

.text {
  @include pattern-text;
}