.header {
  background: #221f1a;
  color: white;
  padding: 4% 0 0;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  z-index: 1;
  

  &__top-header {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    margin: 0 auto 30px;
    transition: all 0.5s ease 0s;
    
    &__fixed {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background: rgba(34, 31, 26, 0.7);
      max-width: 1920px;
      // transform: scale(-0);
      // transition: all 0.5s ease 0s;


      .header__logo {
        padding: 0 0 0 19%;
      }

      .header__phone-numbers {
        padding: 0 19% 0 0;
      }
    }
  }

  &__phone-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__address {
    padding: 10px;
  }


}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.big-pink-circle {
  width: 97px;
  height: 97px;
  background: #d27eaf;
  left: 11%;
  top: 49%;
}

.small-pink-circle {
  width: 73px;
  height: 73px;
  background: #d27eaf;
  right: 32%;
  top: 39%;
}

.big-orange-circle {
  width: 197px;
  height: 197px;
  background-color: #de9447;
  top: -46%;
  left: 31.5%;
}

.small-orange-circle {
  width: 139px;
  height: 139px;
  background-color: #de9447;
  top: 8%;
  right: 10%;
}

.nav {
  display: flex;
  max-width: 1190px;
  margin: 0 auto;

  a {
    text-decoration: none;
    padding: 10px 15px;
    pointer-events: none;
    color: #4e4e4e;
  }


  &__menu {
    display: flex;
    height: 100%;
  }

}

.nav-menu-container {
  background: #ded9d4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid #888582;
  cursor: pointer;
}

.nav-menu-container:hover {
  background: #de9447;

  a {
    color: white;
  }
}

.shares-tab,
.coffee-tab {
  margin-right: 30px;
}

._active {
  border-bottom: none;
  background: white;
  font-weight: bold;
}