@import './index.scss';

.container {
  display: flex;
  background-color: #e1e1e1;
  border-radius: 40px;
  margin: 40px 0;

  &_reverse {
    flex-direction: row-reverse;
  }
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  width: 100%;
  height: 260px;
  background-color: #d27eaf;
  border-radius: 40px;
}

.article-wrap {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.title {
  @include pattern-title;
}

.text {
  @include pattern-text;
}

