@import './index.scss';
@mixin menu-list {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr 1fr;
  font-size: 56px;
  line-height: 112px;
  font-weight: 500;
  background-image: url(../images/coffee-list.png);
  background-repeat: no-repeat;
  background-position: right;
}

.coffee-list {
  @include menu-list;
}

.decaf-list {
  @include menu-list;
  background-image: url(../images/cacao.png);
  margin: 50px 0;
}