@import './index.scss';

@mixin menu-list {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr 1fr 0;
  grid-template-areas:
    'coffee-name price coffee-img'
    'coffee-name price coffee-img'
    'coffee-name price coffee-img'
    'coffee-name price coffee-img'
    'coffee-name price coffee-img'
    'coffee-name price coffee-img'
    'coffee-name price coffee-img';
  font-size: 56px;
  line-height: 112px;
  font-weight: 500;

  .coffee-img {
    position: relative;
    right: 400px;
  }
}


.coffee-list {
  @include menu-list();
}



.decaf-list {
  @include menu-list();
  margin: 50px 0;
}