.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
}

.main-content {
  margin: 1.5% auto 3.5%;
  max-width: 1190px;

  &__btn-block {
    text-align: center;
  }

  &__btn-to-start-page {
    background: #de9447;
    font-size: 36px;
    border-radius: 36px;
    border: 1px solid black;
    padding: 1% 2%;
    outline: none;
    color: white;
    cursor: pointer;
  }
}

.tab_item {
  h1 {
    text-align: center;
    font-size: 46px;
  }
}

.pattern-title {
  font-size: 34px;
  padding-bottom: 15px;
}

.pattern-text {
  font-size: 20px;
  line-height: 25px;
  white-space: pre-line;
}